%label.mdc-text-field.mdc-text-field--textarea
  %textarea.mdc-text-field__input{@tag_attributes,
    "id": "#{attr_key}",
    "v-model": input_key,
    "@change": "inputChanged(\"#{attr_key}\")",
    ref: "input.#{attr_key}",
    placeholder: options[:placeholder],
    "init-value": init_value,
    rows: options[:rows],
    cols: options[:cols],
    "aria-labelledby": "#{attr_key}_label"}
