<!DOCTYPE html>
<html>
<head>
  <title>Matestack ui material</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "matestack/ui/material/application", media: "all" %>
  <%= javascript_include_tag "matestack/ui/material/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
