/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require matestack-ui-material
 *= require_self
 */

body {
  padding-left: 0;
  padding-top: 64px;
  margin: 0;
}

#matestack_ui > .matestack_app > .mdc-top-app-bar {
  top: 0;
}

main > .matestack_page {
  padding: 10px;
}

.demo-example {
}

.demo-code {
  overflow: auto
}

.demo-stage {
  min-height: 200px;
  background-color: #eee;
  position: relative;
  border: 1px solid #aaa;
  padding: 20px;
  overflow: hidden;
}

.demo-stage .mdc-top-app-bar {
  position: relative;
  top: 0;
}

.demo-stage .mdc-drawer--modal {
  position: absolute;
  left: auto;
  height: auto;
  min-height: 100px;
}