#components-material-card{
  .mdc-card {
    .mdc-card__media{
      height: 180px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    .mdc-card__primary-action{
      padding: 1rem;
      .mdc-typography--headline6{
        margin: 0;
      }
      .mdc-typography--subtitle2{
        margin: 0;
      }
    }
  }
}
